

.landing-image{
background-image: url("../images/SeattleCyrcle.jpg");

min-height: 950px;

}

.landing-image, .phone{
	display:block;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: auto ;
 max-width: 100% ;
 height: auto ;

}

#my-storm{
	width: 100%;
	background-color: #000;
	animation-duration: 60s;
	animation-name: thestorm;
}
@keyframes thestorm {
	0% {background-color: #000;}
	25% {background-color: #2c2d2d;}
	50% {background-color: #3f3f3f;}
	75% {background-color: #282828;}
	100% {background-color: #000;}
}

.phone{
	background-image: url("../images/M.jpg");
	min-height: 700px;

}

.blog-footer{
	background-color: powderblue;
}

.color-background{
		padding-top: 80px;
}

.flex-container-foot{

	padding-bottom: 120px;
  font-size: 90%;

  margin: auto;
  display: flex;
  justify-content: space-between;
}

.foot{
	padding-top: 75px;
	padding-bottom: 1px;
	background-color: powderblue;
}

footer{
text-align: center;
}

// .icon{
// 	float: right;
// }

.section {
  flex: 1;
  border-radius: 10px;
  text-align: center;
}

#imgFooter{
  height: 30px;
}

.sec{
  flex: 1;
}

.fa {
	padding-top: 20px;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 1;
    color: black;
}

.fa-twitter {

  background: #55ACEE;
  color: white;
}
.fa-facebook {

  background: #3B5998;
  color: white;
}

.fa-linkedin {

  background: #007bb5;
  color: white;
}

.fa-youtube {

  background: #bb0000;
  color: white;
}


.flex-container-content{
  background-color:	#87CEEB;
  color: white;
  text-align: center;
  padding: 5px;
}
a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: 	#1E90FF;
	  text-decoration: none;
}

@media(max-width:560px){
	.landing-image, .phone {
		background-attachment: scroll;

		// background-repeat: no-repeat;
	// background-size: contain ;
	min-height: 300px;
	min-width: 150px;

		// position: relative;
		// background-position: center;
		// // background-size: auto;
		// background-repeat: no-repeat;


	}
}
